.tableau-style{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    border: 1px solid red;
}
thead, tr{
    background-color: midnightblue;
    color: white;
    text-align: left;
}
th, td{
    padding: 15px 20px;
    
}
tbody, tr, td, th{
    border: 1px solid gray;
}
img{
    width: 100px;
    height:100px ;
}